@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;

	padding-top: 6.25rem;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(
		269deg,
		rgba(255, 169, 169, 1) 18%,
		rgba(96, 130, 205, 1) 100%
	);
}

.todo {
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 33.75rem;
	min-height: 36.75rem;

	padding: 2.5rem 1.875rem 4.375rem;
	border-radius: 1.5rem;
	background: #fffafb;
	flex-direction: column;
	align-items: center;
}

.todo__title {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	font-size: 1.875rem;
	color: rgba(255, 169, 169, 1);
}

.row {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin: 1.25rem 0;
	padding: 0.875rem 1.25rem;

	border-radius: 0.7rem;
	background: #edeef0;
}

.row input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
}
